# Byte-compiled files
__pycache__/
*.py[cod]

# Environment
.env
.venv/
*.env

# Jupyter
.ipynb_checkpoints/

# FAISS index
vectordb/*.faiss

# Data
data/*
chunks/*
vectordb/*

# OS files
.DS_Store
Thumbs.db
